In [286]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [287]:
data = pd.read_csv('Student_Performance.csv')

In [288]:
data.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [289]:
data.head(10)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
5,3,78,No,9,6,61.0
6,7,73,Yes,5,6,63.0
7,8,45,Yes,4,6,42.0
8,5,77,No,8,2,61.0
9,4,89,No,4,0,69.0

In [290]:
data['Extracurricular Activities'].replace({'Yes': 1, 'No': 0}, inplace=True)

In [291]:
data['Extracurricular Activities'].head(10)

0    1
1    0
2    1
3    1
4    0
5    0
6    1
7    1
8    0
9    0
Name: Extracurricular Activities, dtype: int64

In [292]:
class LinearRegression():

    def __init__(self, learning_rate, iterations):
        self.learning_rate = learning_rate
        self.iterations = iterations

    def fit(self, X, Y):
        self.X = X
        self.Y = Y
        self.samples, self.features = X.shape

        self.w = np.zeros(self.features)
        self.b = 0

        for i in range(self.iterations):
            self.update_weights()

        return self
    
    def update_weights(self):
        Y_pred = self.predict(self.X)

        gra_w = (-2 * np.dot(self.X.T, (self.Y - Y_pred))) / (self.samples)
        gra_b = (-2 * np.sum(self.Y - Y_pred)) / (self.samples)

        self.w = self.w - self.learning_rate * gra_w
        self.b = self.b - self.learning_rate * gra_b

        # print(f"Updated w: {self.w}, Updated b: {self.b}")

        return self
    
    def predict(self, X):
        return np.dot(X, self.w) + self.b

In [293]:
X = data.iloc[:,:-1].values
Y = data['Performance Index'].values

In [294]:
import numpy as np

# Check if there are any NaN values in the input data
print(np.isnan(X).sum())
print(np.isnan(Y).sum())

0
0

In [295]:
print(X.shape)

(10000, 5)

In [296]:
model = LinearRegression(learning_rate = 0.0001, iterations = 100)

In [297]:
model.fit(X, Y)

In [298]:
print(model.w, model.b)

[ 3.13182416e-01  7.89669399e-01 -6.71011319e-04 -2.82250730e-02
 -1.81285866e-03] -0.008514533243619553

In [300]:
input_data = np.array([9, 90, 0, 6, 8])
print(model.predict(input_data))

73.69651979797598